/* Main Styling */
main {
    display: block;
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

main h2 {
    font-size: 30px;
    color: #333;
}

main p {
    margin: 20px 0;
    color: #666;
}

main img {
    max-width: 20%;
    border-radius: 10px;
}

.product-of-week {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.weekly-sales .sale-item img {
    height: 150px;
}

.sale-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.sale-item:hover {
    cursor: pointer;
    transition: 0.4S all ease-in-out;
    transform: scale(1.1);
}

.sale-item img {
    max-width: 100%;
    border-radius: 10px;
}
