/* Base styles */
body {
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Main section styles */
main {
    padding: 20px;
}

.desc {
    margin-bottom: 2%;
}

/* Article and Aside class styles */
.team-container {
    display: grid;
    gap: 20px;
    padding: 20px;
}

.team-card {
    background: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
}

.team-card:hover {
    transform: scale(1.05);
}

.team-card h3 {
    background: #241818;
    color: white;
    margin: 0;
    padding: 10px;
}

.team-card figure {
    margin: 0;
    padding: 20px;
}

.team-card img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.team-card figcaption {
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
}

/* Mobile Styles */
@media (max-width: 600px) {
    figure img {
        height: auto;
    }

    main {
        padding: 10px;
    }
}

/* Grid settings for different screen sizes */
@media (min-width: 1024px) {
    .team-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* responsive for tablets and lower */
@media (min-width: 768px) and (max-width: 1023px) {
    .team-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .team-container {
        grid-template-columns: 1fr;
    }
}
